@layer base {
  html {
    @apply font-Mukta text-atlantic_black-100;
  }
}

.branding-line {
  height: 2px;
  background-image: linear-gradient(
    to right,
    theme("colors.piktogram.orange") 0%,
    theme("colors.piktogram.orange") 25%,
    theme("colors.seduction_green.100") 25%,
    theme("colors.seduction_green.100") 50%,
    theme("colors.piktogram.cyan") 50%,
    theme("colors.piktogram.cyan") 75%,
    theme("colors.piktogram.magenta") 75%,
    theme("colors.piktogram.magenta") 100%
  );
}

nav .tab {
  @apply text-atlantic_black-100 hover:bg-bracing_blue-100 rounded-sm border-b px-2.5 py-4 text-left font-bold uppercase leading-7 last:border-none hover:text-white max-lg:flex max-lg:items-center max-lg:justify-start max-lg:gap-3 lg:rounded-b-none lg:border-none lg:px-4 lg:py-[11px];

  &.tab-active {
    @apply lg:bg-bracing_blue-100 lg:rounded-t-sm lg:text-white;
  }
}

nav .tab-content li {
  @apply text-bracing_blue-50  relative cursor-pointer px-4 py-[15px] text-sm font-bold leading-5 lg:text-center;

  &:hover {
    @apply text-white;
  }

  &.active {
    @apply text-white;

    &:after {
      @apply absolute bottom-0 left-0 block h-full w-full;
      content: "";
      background: url("assets/submenu-arrow.svg") bottom center no-repeat;
    }
  }
}

#mobile-menu {
  @media (max-width: 1024px) {
    height: calc(100dvh - 2px);
  }
}
